* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Noto Sans JP", sans-serif;
    scroll-behavior: smooth;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:root {
    --dark-mode-background: #121212;
    --dark-mode-text: #ffffff;
    --transition: all 0.5s ease-in-out;
    --fore-ground-background: #1D1D1D;
    --gradient-color: linear-gradient(to right, rgb(56, 83, 233), rgb(255, 67, 155));
    --highlight-color: #00ddff;
}
/* ::selection {
    color: rgb(0, 0, 0);
    background: yellow;
} */
.container {
    height: 100%;
    width: 100%;
    padding: 4rem;
    background-color: var(--dark-mode-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container {
    width: 70%;
    height: 95%;
    background-color: var(--fore-ground-background);
    color: var(--dark-mode-text);
    padding: 1rem 4rem;
}
.project-heading {
    width: 100%;
    height: 10%;
    /* text-align: center; */
    padding: 0.5rem 1rem;
}
.project-heading span {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--dark-mode-text);
}
.project-link {
    padding: 0.5rem 1rem;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.project-link ul li {
    color: var(--highlight-color);
    list-style: none;
    margin: 0.5rem 0;
}
.project-link a {
    color: var(--highlight-color);
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    text-decoration: none;
}
/* main project description starts */
.main-project-desc {
    width: 100%;
    height: 70%;
    padding: 0.5rem 1rem;
    /* border-top: 1px solid #ffffff; */
    margin: 1rem 0;
}
.main-project-desc p {
    line-height: 1.5rem;
}
.main-project-desc p, .main-project-desc ul {
    margin: 1rem 0;
}
.main-project-desc ul li {
    margin: 0.5rem 0;
    list-style: none;
}
.main-project-desc ul li i {
    color: var(--highlight-color);
    margin-right: 0.5rem;
}
.main-project-desc .tech-heading {
    letter-spacing:2px;
    font-weight: 600;
}
.main-project-desc .tech-heading::after {
    content: "";
    display: block;
    width: auto;
    height: 1px;
    background-color: var(--highlight-color);
    margin: 0.2rem 0;
}
.tech-used-section {
    margin: 1rem 0 0.5rem 0;
}
.tech-used-section button{
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
    padding: 0.2rem 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 20px;
    margin-right: 0.2rem;
}
.tech-used-section button:hover{
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}

/* Go back section starts */
.go-back-btn {
    width: 100%;
    height: auto;
    margin: 2rem 0;
}
.go-back-btn a{
    text-decoration: none;
}
.go-back-btn a button {
    width: 100%;
    height: 1rem;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
}
.go-back-btn a button:hover{
    background: #ffffff;
    color: #000000;
}
.go-back-btn a button i {
    color: #000000;
    font-weight: 600;
    display: none;
    margin-right: 0.5rem;
}
