@media only screen and (max-width: 1150px) {
    .inner-about-page, .about-page {
        height: auto;
    }
    .about-main {
        flex-direction: column;
    } 
    .about-desc {
        width: 80%;
    }
    .inner-about-page > section {
        margin: 3.5rem 0.5rem !important;
    }

}
@media only screen and (max-width: 850px) {
    .about-desc {
        width: 90%;
    } 
    .show-number {
        margin: 1rem 2rem !important;
    }
    .numbers {
        flex-wrap: wrap;
    }
    .profile-img {
        width: auto;
    }
}
@media only screen and (max-width: 560px) {
    .numbers {
        flex-direction: column;
    }
    .show-number {
        margin: 2rem !important;
    }
    .inner-about-page > section {
        margin: 1.5rem 0.5rem !important;
    }
}