@media only screen and (max-width: 1500px) {
  .third-page {
    height: 100%;
    width: 100%;
  }
  .contact-btn-div #submit {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 1220px) {
  .third-page {
    width: 100%;
    height: auto;
  }
  .contact-page-main-content {
    flex-direction: column;
  }
  .location-section,
  .social-section-div {
    margin: 2rem 0;
    height: 100%;
    width: 100%;
  }
  .location-section > p {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location-section > p > iframe {
    height: 90%;
    width: 100%;
  }
  .address {
    font-size: 0.8rem;
  }
  .social-icons > button {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.2rem;
  }
  .copyright > p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 590px) {
  .third-page {
    width: 100%;
    height: auto;
  }
  .location-section > p {
    height: 25rem;
  }
  .location-section p iframe, .contact-input-section {
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.3);
  } 
  .input-div {
    padding: 0 0.3rem;
  }
  .footer-section {
    flex-direction: column;
  }
  .address {
    text-align: left;
  }
  .footer-left,
  .footer-right,
  .footer-center {
    width: 100%;
    height: auto;
    margin: 1rem;
  }
  .social-icons > button {
    margin: 0.5rem;
  }
  .social-icons {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 400px) {
  .social-section-div{
    width: 100%;
  }
  .location-section  {
    justify-content: center;
    width: 100%;
  }
  .location-section p {
    width: 100%;
  } 
  .contact-input-section {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .contact-main-content {
    width: 90%;
    padding: 0.1rem;
  }
  .contact-heading {
    margin-top: 0.5rem;
  }
  .input-div {
    flex-direction: column;
  }
  .input-div span, .input-div input, #message {
    width: 100%;
  }
  .input-div span {
    margin-bottom: 0.5rem;
  }
  .input-div input {
    margin: 0;
  }
  .contact-btn-div {
    margin-bottom: 1rem;
  }

  .footer-left, .address {
    text-align: left;
  }
  .address {
    font-size: 1.02rem;
    margin: 0rem 0rem 0rem 0.5rem;
  }
  .address-heading {
    font-size: 1.2rem;
  }
  .copyright > p {
    font-size: 1.02rem;
  }

}
@media only screen and (max-width:380px) {
  .location-section p {
    width: 93%;
  } 
  .social-section-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-input-section {
    width: 93%;
  }
  .contact-main-content {
    width: 90%;
    padding: 0.1rem;
  }
}

@media only screen and (max-width: 375px) {
  .input-div span {
    margin-bottom: 0.8rem;
  }
}
@media only screen and (max-width: 311px) {
  .contact-btn-div #submit  {
    font-size: 0.7rem;
    padding: 8px 30px;
  }
  .contact-btn-div #reset {
    margin: 0.5rem 0;
    height: 30px;
    width: 30px;
  }
}