@media only screen and (max-width:1500px) {
    .third-page {
      height: 100%;
      width: 100%;
    }
  }
  
@media only screen and (max-width: 800px) {
    .third-page {
        width: 100%;
        height: auto;
        background-color: #F0F4FB;;
    }
    .contact-page-main-content {
        flex-direction: column;
    }
    .location-section, .social-section-div {
        margin: 2rem 1rem;
        height: 100%;
       width: 100%;
      }

    .subscribe-content-div {
       flex-direction: column;
      }
}