@media only screen and (max-width: 840px) {
    .firstPageMain-div > h1 {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 608px) {
    .firstPageMain-div > h1 {
        font-size: 2rem;
    }
    .button-join > button {
      background-color: #F0F4FB;
    }

}

@media only screen and (max-width: 498px) {
    .firstPageMain-div > h1 {
        font-size: 2rem;
        /* testing new size starts*/
        font-size:2.3rem;
        /* testing new size ends*/
        margin: 0rem 1rem;
    }
    .button-join > button {
        padding: 7px 20px;
        margin: 1.3rem 1rem;
    }
    .navbar-logo{
        height: 2rem;
        margin: 0.5rem 0.5rem;
    }
    .nav-link {
        letter-spacing: 1.3px;
        margin: 0.5rem 1.2rem;
        
    }
    .nav-ul .nav-link {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 411px) {
    .firstPageMain-div > h1 {
        /* ! is the font will not responsive then change to 1.45rem. */
        font-size: 1.55rem;   
        margin-right: 0.5rem;
    }
  
    .nav-ul .nav-link {
        font-size: 0.75rem;
    }
    .navbar-logo{
        height: 2rem;
        margin: 0.5rem 0.5rem;
    }
}