:root {
    --main-padding-1180px: 0 3.5rem;
    --main-padding-608px: 0 1rem;
    --main-padding-498px: 0rem;
}

@media only screen and (max-width:1180px){
    .firstPageMain-div {
        margin: 0 0.5rem !important;
        width: 100%;
        padding: 0;
    }
    .firstPageMain-div h1 {
        font-size: 3rem;
    }
}    
@media only screen and (max-width: 1100px) {
    .firstPageMain-div > h1 {
        font-size: 2.7rem;
    }
   
}
@media only screen and (max-width: 900px) {
    .firstPageMain-div > h1 {
        font-size: 2rem;

    }
}

@media only screen and (max-width:792px) {
    #main-heading-name {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        height: 65%;
    }
    .nav-bar {
        height: 10%;
    }
    .first-page-container {
        height: 90%;
    }
}
@media only screen and (max-width: 530px) {
    #main-heading-name {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 440px) {
    .container {
        height: 60%;
    }
    .firstPage-btn {
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 411px) {
    #main-heading-name {
        font-size: 2.5rem;
    }
    .firstPageMain-div > h1 {
        /* ! is the font will not responsive then change to 1.45rem. */
        font-size: 1.55rem;   
        margin-right: 0.5rem;
    }
    .nav-ul .nav-link {
        font-size: 0.75rem;
    }
    .firstPageMain-Image img {
        width: 80%;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 320px) { 
    .firstPageMain-Image img {
        width: 95%;
    }
}