:root {
    --main-padding-1180px: 3.5rem;
    --main-padding-608px: 1rem;
    --main-padding-498px: 0rem;
}

@media only screen and (max-width:1180px){
    .first-page-container {
        padding: var(--main-padding-1180px);
    } 
    .firstPageMain-Image img {
        width: 80%;
        height: 70%;
    }
}    
@media only screen and (max-width: 1100px) {
    .firstPageMain-div {
        width: 70%;
    }
    .firstPageMain-Image {
        width: 30%;
    }
    .firstPageMain-div > h1 {
        font-size: 2.7rem;
    }
   
}
@media only screen and (max-width: 1040px){
    .firstPageMain-div {
        width: 70%;
    }
    .firstPageMain-Image {
        width: 30%;
    }
}
@media only screen and (max-width: 920px) {
    .firstPageMain-div > h1 {
        font-size: 2.5rem;
    }
    .firstPageMain-Image img {
        height: 60%;
    }
}
@media only screen and (max-width: 880px) {
    .container {
        height:150%;
    }
    .nav-bar {
        height: 4%;
    }
    .first-page-container  {
        width: 100%;
        height: 96%;
        flex-direction: column;
    }
    .firstPageMain-div{
        width: 100%;
        height: 65%;
    }
    .firstPageMain-Image {
        /* align-items: flex-start; */
        height: 35%;
        width: 80%;
    }
    .firstPageMain-Image img {
        height: 100%;
        width: 50%;
    }
  
}

@media only screen and (max-width: 608px) {
    .first-page-container{
        padding: var(--main-padding-608px);
    }
    .firstPageMain-div > h1 {
        font-size: 2rem;
    }
    .button-join > button {
      background-color: #F0F4FB;
    }

}

@media only screen and (max-width: 498px) {
    .first-page-container{
        padding: var(--main-padding-498px);
    }
    .firstPageMain-div > h1 {
        font-size: 2rem;
        /* testing new size starts*/
        font-size:2.1rem;
        /* testing new size ends*/
        margin: 0 0 0 1rem;
    }
    .button-join > button {
        padding: 7px 20px;
        margin: 1.3rem 1rem;
    }
    .navbar-logo{
        height: 2rem;
        margin: 0.5rem 0.8rem;
    }
    .nav-link {
        letter-spacing: 1.3px;
        margin: 0.5rem 1.2rem; 
    }
    .nav-ul .nav-link {
        font-size: 0.9rem;
    }
    .firstPageMain-Image img {
        width: 70%;
        margin: 0 0 1.2rem 0;
    }
}

@media only screen and (max-width: 411px) {
    .firstPageMain-div > h1 {
        /* ! is the font will not responsive then change to 1.45rem. */
        font-size: 1.55rem;   
        margin-right: 0.5rem;
    }
    .nav-ul .nav-link {
        font-size: 0.75rem;
    }
    .firstPageMain-Image img {
        width: 80%;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 320px) { 
    .firstPageMain-Image img {
        width: 95%;
    }
}