@media only screen and (max-width: 840px) {
    .firstPageMain-div > p {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 608px) {
    .firstPageMain-div > p {
        font-size: 2rem;
    }
    .firstPageMain-div > .tag-line {
        font-size:0.8rem;
    }
}

@media only screen and (max-width: 498px) {
    .firstPageMain-div > p {
        font-size: 2rem;
        /* testing new size starts*/
        font-size:2.3rem;
        /* testing new size ends*/
        margin: 0rem 1rem;
    }
    .button-join > button {
        padding: 7px 20px;
        margin: 1.3rem 1rem;
    }
    .button-join > button:hover {
        transform: scale(1.03);
    }
    
    .nav-link {
        letter-spacing: 1.3px;
        margin: 0.5rem 1.2rem;
        
    }
    .nav-ul .nav-link {
        font-size: 0.9rem;
    }
    .navbar-logo{
        height: 3.5rem;
        width: auto;
      }
}

@media only screen and (max-width: 411px) {
    .firstPageMain-div > p {
        font-size: 1.45rem;
        margin-right: 0.5rem;
    }
    .firstPageMain-div > .tag-line {
        font-size:0.5rem;
    }
    .nav-ul .nav-link {
        font-size: 0.75rem;
    }
    .navbar-logo{
        height: 3rem;
        width: auto;
        margin: 0.5rem 0rem;
      }
}