@import url(./firstPageResponsive.css);

@media only screen and (max-width: 1210px) {
    .social-icons > button {
        margin: 0.2rem 0.5rem;
    }
}
@media only screen and (max-width: 1050px) {
    .subscribe-btn {
        padding: 7px 20px;
        font-size:0.7rem;
    }
    .subscribe-content .subscribe-inner-content input{
        padding: 0.1rem 0.4rem;
    }
  
}
@media only screen and (max-width: 1020px) {
    .footer-section {
        height: auto;
    }
    .footer-upper-content {
        flex-direction: column;
    }
    .footer-left, .footer-right, .footer-center {
        width: 100%;
    }
    .footer-center, .footer-right {
        justify-content: left;
        align-items: start;
    }
    .address, .quick-links, .subscribe-content {
        width: 50%;   
    }
    .quick-link-items {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .social-icons {
        margin: 2rem 0;
    }
    .subscribe-content {
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 740px) {
    .address, .quick-links, .subscribe-content {
        width:70%;   
    }

}
@media only screen and (max-width:450px) {
    .address, .quick-links, .subscribe-content {
        width:90%;   
    }
}
@media only screen and (max-width: 400px) {
    .address {
        margin: 2rem 0 0 0;
    }
    .address > p, .quick-link-items p a {
        font-size: 0.8rem;
        margin: 0.6rem 0;
    }
    .address > p button i {
        font-size: 0.9rem;
    }
    .quick-links, .subscribe-content {
        margin-top: 0.5rem;
    }
    .social-icons > button {
        height: 1.5rem;
        width: 1.5rem;
    }
    .social-icons > button > a > i {
        font-size: 1.2rem;
    }
    .subscribe-content .subscribe-inner-content input, .subscribe-btn {
        margin: 0.6rem 0;
    }
    .copyright > p {
        font-size:0.6rem;
    }
    
}
