@media only screen and (max-width: 1500px) {
  .project-section-div {
    height: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .project-card {
    margin: 2rem 1rem;

  }
}

@media only screen and (max-width: 390px) {
  .project-card {
   width: 21rem;
  }
  .project-text p{
    font-size: 0.8rem;
  }
}