@media only screen and (max-width: 1060px) {
    .profile-pic {
        height: 500px;
        width: 400px;
        margin: 1rem;
    }
}
@media only screen and (max-width: 878px) {
    .profile-pic {
        height: 400px;
        width: 300px;
    }
    .heading-name > span {
        font-size: 1.5rem;
    }
    .text > p {
        font-size:0.8rem;
    }
}
@media only screen and (max-width: 645px) { 
    .about-section > span {
        font-size: 1.5rem;
    }
    .heading-name > span {
        font-size: 1.4rem;
        margin: 0 0.5rem;
    }
    .text > p {
        font-size:0.7rem;
        margin: 0 0.5rem;
    }
    .about-content {
        width: 100%;
        height: 90%;
       flex-direction: column;
    }
    .profile-image, .profile-description {
        height: 50%;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) { 
    .second-page{
        height: auto;
        width: 100%;
    }
    .profile-pic {
      
        margin: 0rem;
    }
    .text {
        margin: 0.5rem;
    }
}