@media only screen and (max-width: 1400px) {
  .first-content {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 1120px) {
  .education-content {
    flex-direction: column;
    height: 130%;
  }

  .first-content {
    width: 90%;
    height: 40%;
  }
  .third-content {
    margin-bottom: 2rem;
  }
  .carousel {
    margin: 1rem 0rem;
  }
  .carousel-item {
    margin: 1rem 1.3rem;
    /* padding: 0.3rem; */

    box-shadow:  11px 11px 22px #909094,
             -11px -11px 22px #ffffff;
  }
  
}

@media only screen and (max-width: 570px) {
  .first-content {
    width: 90%;
    height: 40%;
  }
  .second-page {
    height: 120%;
  }
  .heading span {
    margin-bottom: 0.7rem;
  }
 
}

@media only screen and (max-width: 380px) {
    .card-content h3 {
      font-size: 1.3rem;

    }
    .card-cvonte4nty {
      font-style : 1.2rem;
    }
} 
