@media only screen and (max-width: 932px) {
    .third-page{ 
        height:100%;
        width: 100%;
    }
}
@media only screen and (max-width: 875px) {
    .card, .card-2, .card-3 {
        width: 40%;
    }
}