.third-page {
  height: 100%;
  width: 100%;
  background-color: #ffffff;;
}

.contact-page-main-content {
  height:65%;
  width: 100%;
  display: flex;
}
.subscribe-content-div {
  height: 10%;
  width: 100%;
  background-color: #141414;
}
.footer-section {
  height: 25%;
  width: 100%;
  background-color: #141414; 
  border-top: 3px solid transparent;
  border-image: linear-gradient(to right, rgb(56, 83, 233), rgb(255, 67, 155));
  border-image-slice: 1;

}
/* ? Location  section  starts */
.location-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.location-section p  {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.location-section p iframe{
  border: none;
  outline: none;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
  height: 80%;
  width: 80%;
}
/* ? Location  section  ends */

/*todo social section starts */
.social-section-div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.contact-input-section {
  height: 80%;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}
.contact-main-content {
  height: 100%;
  width: 100%;
}

/*todo social section ends */


/*? Subscribe section starts */
.subscribe-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
.subscribe-email {
  height:3rem;
  width: 50%;
  border-radius: 25px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  background-color: #000000;
  border: 2px solid rgb(112, 138, 255);
}

::placeholder {
  opacity: 1;
  letter-spacing:2px;
  background: -webkit-linear-gradient(
    150deg,
    #7f53ac, #647dee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.subscribe-btn {
  height:3rem;
  background-color: #ffffff;
  padding: 10px 40px;
  margin: 2rem;
  font-weight: 500;
  font-size: 1rem;
  border: 2px solid rgb(112, 138, 255);
  border-radius: 25px;
  letter-spacing: 2px;
  transition: all 1s;
  cursor: pointer;
  user-select: none;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(
    150deg,
    #7f53ac, #647dee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscribe-btn:hover {
  transform: translateX(10px);
}
/*? Subscribe section ends */

/*? Footer section starts  */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-left, .footer-right, .footer-center {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center
}
/* todo Footer address section starts */
.address {
  font-weight: 500;
  background: -webkit-linear-gradient(
    150deg,
    #7f53ac, #647dee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;

}
.address-heading {
  font-weight: 700;
  font-size: 1.5rem;
}
.address > p {
  margin: 0.3rem 0;
}

/* todo Footer address section ends */

/* todo  Footer social icon section starts */
  .social-icons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center
  }
  .social-icons > button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0.2rem;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.5s;
  }
  .social-icons > button:hover {
    transform: translateY(-5px);
  }
  .social-icons > button > a > i {
    font-size: 1.6rem;
    color: #5657A4;
    cursor: pointer;

  }
  .fa-linkedin:hover {
    color:#0073B1 !important;
  }
  .fa-facebook:hover {
    color: #355AA3 !important;
  }
  .fa-instagram:hover {
    color: #DC0D4A !important;
  }
  .fa-twitter:hover {
    color: #1C9CEA !important;
  }
  .fa-snapchat:hover {
    color: #F7F400 !important;
  }
  .fa-youtube:hover {
    color: #F70000 !important;
  }
  .fa-github:hover {
    color: #ffffff !important;
  }
/* todo  Footer social icon section ends */


/*todo footer copyright section starts */
  .copyright {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .copyright > p {
    font-size:1rem;
    background: -webkit-linear-gradient(
      150deg,
      #7f53ac, #647dee
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/*todo footer copyright section ends */
/*? Footer section ends  */


