.third-page {
  height: 100%;
  width: 100%;
  background-color: #F0F4FB;;
}

.contact-page-main-content {
  height:65%;
  width: 100%;
  display: flex;
}
.subscribe-content-div {
  height: 10%;
  width: 100%;
  background-color: #141414;
}
.footer-section {
  height: 25%;
  width: 100%;
  background-color: #141414; 
  border-top: 1px solid transparent;
  border-image: linear-gradient(to right, rgb(56, 83, 233), rgb(255, 67, 155));
  border-image-slice: 1;

}
/* ? Location  section  starts */
.location-section, .social-section-div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-section p  {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-section p iframe{
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow:  13px 13px 26px #dde0e7,
  -13px -13px 26px #ffffff;
  height: 80%;
  width: 80%;
}
/* ? Location  section  ends */

/*todo social section starts */

/*todo social section ends */


/*? Subscribe section starts */
.subscribe-content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
.subscribe-email {
  height:3rem;
  width: 50%;
  border-radius: 25px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  background-color: #000000;
  border: 2px solid rgb(112, 138, 255);
}

::placeholder {
  opacity: 1;
  letter-spacing:2px;
  background: -webkit-linear-gradient(
    150deg,
    #7f53ac,
    #647dee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.subscribe-btn {
  height:3rem;
  background-color: #ffffff;
  padding: 10px 40px;
  margin: 2rem;
  font-weight: 500;
  font-size: 1rem;
  border: 2px solid rgb(112, 138, 255);
  border-radius: 25px;
  letter-spacing: 2px;
  transition: all 1s;
  cursor: pointer;
  user-select: none;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(
    150deg,
    #7f53ac,
    #647dee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscribe-btn:hover {
  transform: translateX(10px);
}
/*? Subscribe section ends */

/*? Footer section starts  */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-left, .footer-right, .footer-center {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center
}

.address {
  font-weight: 500;
  background: -webkit-linear-gradient(
    150deg,
    #7f53ac,
    #647dee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.address-heading {
  font-weight: 600;
}

/*? Footer section ends  */


