.third-page {
  height: 100%;
  width: 100%;
  background-color: #F0F4FB;;
}

.contact-page-main-content {
  height:60%;
  width: 100%;
}
.subscribe-content-div {
  height: 10%;
  width: 100%;
  background-color: #000000;
}
.footer-section {
  height: 30%;
  width: 100%;
}
.location-section iframe{
  height: 100%;
  width: 100%;
}


@media only screen and (max-width:1500px) {
  .third-page {
    height: 100%;
    width: 100%;
  }
}