.third-page {
  height: 100%;
  width: 100%;
  background-color: #ffffff;;
}

::placeholder {
  opacity: 0.6;
  letter-spacing:2px;
  background-color: var(--background-color);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contact-page-main-content {
  height:65%;
  width: 100%;
  display: flex;
}

.footer-section {
  height: 35%;
  width: 100%;
  background-color: #ffffff; 
  border-top: 3px solid transparent;
  border-image: linear-gradient(to right, rgb(56, 83, 233), rgb(255, 67, 155));
  border-image-slice: 1;

}
/* ? Location  section  starts */
.location-section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.location-section p  {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.location-section p iframe{
  border: none;
  outline: none;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
  height: 90%;
  width: 80%;
  transition: 0.3s linear;
}
.location-section p iframe:hover {
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.3);
}
/* ? Location  section  ends */

/*todo social section starts */
.social-section-div {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.contact-input-section {
  height: 90%;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  transition: 0.3s linear;
}
.contact-input-section:hover {
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.3);
}

.contact-main-content {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
}
.contact-heading{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 1rem 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(56, 83, 233), rgb(255, 67, 155));
  border-image-slice: 1;
  user-select: none;
}



.contact-heading span {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  text-transform: uppercase;
  width: auto;
  background-color: var(--background-color);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  position: relative;
}
.contact-heading span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var( --text-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}
.contact-heading span:hover::after,
.contact-heading span:focus::after {
  opacity: 1;
  transform: scale(1);
}

.input-div {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}
.input-div span {
  width: 30%;
  height: auto;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1rem;
  letter-spacing: 2px;
}
.input-div input {
  height: auto;
  padding: 0.15rem 0.5rem;
  margin: 0.5rem 0;
  width: 70%;
  outline: none;
}
#message {
  width: 70%;
  padding: 0.15rem 0.5rem;
  outline: none;
}
.contact-btn-div {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn-div #submit {
  background-color: var(--background-color);
  background-image: var(--gradient-color);
  color: var(--light-mode-text-color);
  padding: 10px 40px;
  margin: 2rem;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.contact-btn-div #submit:hover,
.contact-btn-div #submit:active {
  box-shadow: var(--shadowSupport);
  transform: translateY(-5px);
}




.contact-btn-div #reset {
  background-color: var(--background-color);
  background-image: var(--gradient-color);
  color: var(--light-mode-text-color);
  height: 40px;
  width: 40px;
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.contact-btn-div #reset:hover,
.contact-btn-div #reset:active {
  box-shadow: var(--shadowSupport);
  transform: translateY(-5px);
}






/*todo social section ends */

/*? Footer section starts  */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-left, .footer-right, .footer-center {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center
}
/* todo Footer address section starts */
.footer-left {
  justify-content: left;
  align-items: center;
}
.address {
  font-weight: 500;
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;

}
.address-heading {
  font-weight: 700;
  font-size: 1.5rem;
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.address > p {
  margin: 0.3rem 0;
}

/* todo Footer address section ends */

/* todo  Footer social icon section and quick link section starts */
  .footer-center {
    flex-direction: column;
  }

  .social-icons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center
  }
  .social-icons > button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0.2rem;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.5s;
  }
  .social-icons > button:hover {
    transform: translateY(-5px);
  }
  .social-icons > button > a > i {
    font-size: 1.6rem;
    color: var(--text-color);
    cursor: pointer;

  }
  .fa-linkedin:hover {
    color:#0073B1 !important;
  }
  .fa-facebook:hover {
    color: #355AA3 !important;
  }
  .fa-instagram:hover {
    color: #DC0D4A !important;
  }
  .fa-twitter:hover {
    color: #1C9CEA !important;
  }
  .fa-snapchat:hover {
    color: #F7F400 !important;
  }
  .fa-youtube:hover {
    color: #F70000 !important;
  }
  .fa-github:hover {
    color: #000000 !important;
  }
/* todo  Footer social icon section ends */


/*todo footer copyright and subscribe section starts */
  .footer-right {
    justify-content: right;
    align-items: center;
    flex-direction: column;
  }
  .subscribe-content {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    text-align: right;
  }
  .subscribe-inner-content {
    height:auto;
    width: 100%;
  }
  .subscribe-content .subscribe-inner-content input {
    height: auto;
    padding: 0.15rem 0.5rem;
    width: 70%;
    outline: none;
  }

  .subscribe-btn{
    background-color: var(--background-color);
    background-image: var(--gradient-color);
    color: var(--light-mode-text-color);
    padding: 10px 30px;
    margin: 0.8rem 0 0.5rem 0.5rem;
    font-weight: 400;
    font-size: 0.8rem;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
  }
  
  .subscribe-btn:hover,
  .subscribe-btn:active {
    box-shadow: var(--shadowSupport);
    transform: translateY(-5px);
  }





  .copyright {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    text-align: right;
  }
  .copyright > p {
    font-size:1rem;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/*todo footer copyright section ends */
/*? Footer section ends  */


