* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.left, .right {
  height: 100%;
  width: 50%;
}
.right {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  border-radius: 32px 0px 0px 32px;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0.2rem 1rem;
}