* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.first-page {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

/* nav bar starts */
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0.5rem 0rem;
}

.nav-ul {
  display: flex;
}
.nav-li {
  list-style: none;
}
.nav-link {
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 0.5rem 1.5rem;
  color: #000000;
  padding: 0.5rem 0rem;
}

.nav-ul .nav-link {
  position: relative;
  font-size: 1.1rem;
}
.nav-ul .nav-link:hover {
  background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-ul .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
  color: transparent;
  width: 0%;
  content: "";
  height: 2.7px;
  transition: all 0.5s;
}
.nav-ul .nav-link:hover::after {
  width: 100%;
}

/* nav abr ends */
/* left side starts */

.firstPageMain-div {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.firstPageMain-div > p {
  font-weight: 800;
  color: #252525;
  font-size: 3.5rem;
  margin: 0rem 2rem;
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

.gradient {
  background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.firstPageMain-div > .tag-line {
  margin: 0.2rem 0 0 2rem;
  font-weight: 800;
  color: #252525;
  font-size: 1rem;
}

.button-join > button {
  background-color: rgb(255, 255, 255);
  padding: 10px 40px;
  margin: 2rem 2rem;
  font-size: 600;
  letter-spacing: 1px;
  border: 1px solid #000;
  transition: all 1s;
}
.button-join > button:hover {
  cursor: pointer; 
  letter-spacing: 3px;
  color: #ffffff;
  background-color: #000;
  transform: scale(1.1);
}
/* 1st page ends */
