* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.left {
  height: 100%;
  width: 75%;
  background: url(../images/kike-vega-F2qh3yjz6Jk-unsplash.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.right {
  height: 100%;
  width: 25%;
  background: #e0e0e0;
}
/* nav abr starts */
.navbar {
  width: 100%;
  display: flex;
  margin: 0.2rem 3rem;
}

.nav-ul {
  display: flex;
}
.nav-li {
  list-style: none;
}
.nav-link {
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 0.5rem 1.5rem;
  color: #000000;
  padding: 0.5rem 0rem;
}

.first-nav {
  margin: 0.5rem 1.5rem 0.5rem 0.2rem;
}
.nav-ul .nav-link {
  position: relative;
  font-size: 1.1rem;
}
.nav-ul .nav-link:hover {
  color: #000000;
}
.nav-ul .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  color: transparent;
  width: 0%;
  content: "";
  height: 2.7px;
  transition: all 0.5s;
}
.nav-ul .nav-link:hover::after {
  width: 100%;
}

/* nav abr ends */
/* left side starts */

.firstPageMain-div {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.firstPageMain-div > p {
  font-weight: 800;
  color: #252525;
  font-size: 3rem;
  margin: 0 0 0 3rem;

  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

.gradient {
  background: -webkit-linear-gradient(315deg, #386cfa 0%, #fb7ba2 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.firstPageMain-div > .tag-line {
  margin: 0.2rem 0 0 3rem;
  font-weight: 800;
  color: #252525;
  font-size: 1rem;
}
/* left side ends */
/* right side starts */
.right-side-nav {
  margin: 0.5rem 1rem;
  border-bottom: 2px solid rgb(112, 93, 5);
}
.right-side-nav-span {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(112, 93, 5);
}
.right-side-nav-span:hover {
  cursor: pointer;
}
.fa-lightbulb-on {
  font-size: 2rem;
}

.right-side-posts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-post {
  height: 20%;
  width: 90%;
  margin: 1rem 0.5rem;
  background: #e0e0e0;
  box-shadow: 9px 9px 19px #8f8f8f, -9px -9px 19px #ffffff;
  display: flex;
  border-radius: 10px;
  transition: all 1s;
  border-bottom: 4px solid #1900ff;
}
.blue-post:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to bottom, #e0e0e0, rgb(205, 191, 255));
}

.post-image {
  border-radius: 10px;
  height: 40%;
  width: 40%;
  margin: 0.5rem;
}

.post-text {
  margin: 0.5rem;
}

.post-text > span {
  font-size: 1rem;
  font-weight: 800;
}
.post-text > p {
  font-size: 0.7rem;
}
/* right side ends */
