* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;

  
}


/* SCROLL BAR STARTS */
/* width */
::-webkit-scrollbar {
  width: 0px;


}
::-webkit-scrollbar:hover {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  /* border-radius: 15px; */
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background-color: #abe9cd; */
  background: -webkit-linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background-color: #abe9cd; */
  background: -webkit-linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

/* SCROLL BAR ENDS */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.first-page {
  height: 100%;
  width: 100%;
  background-color: rgb(248,248,255);

  }

/* nav bar starts */

.nav-bar {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; 
}

.menu-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; 
}

.menu-content li a {
  padding: 8px;
  text-decoration: none;
  letter-spacing:2px;
  font-size: 36px;
  color: rgb(248,248,255);
  display: block; /* Display block instead of inline */
  transition: 0.3s; 
}
.menu-content li a:hover {
  background: -webkit-linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-bar .close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 3rem;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
}


.nav-btn {
  width: 100%;
  height: auto;
}
.menu-open-btn {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0.5rem 1.5rem;
  height: 1rem;
  width:1rem;
  font-size: 2rem;
  
  float: right;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .manu-content a {font-size: 20px}
  .nav-bar .close-btn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* .navbar {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0.5rem 0rem;
}

.nav-ul {
  display: flex;
}
.nav-li {
  list-style: none;
}

.nav-link {
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 0.5rem 2rem;
  color: #000000;
  padding: 0.5rem 0rem;
}

.nav-ul .nav-link {
  position: relative;
  font-size: 1.1rem;
  transition:all 1s;
}
.nav-ul .nav-link:hover {
  background: -webkit-linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-ul .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: -webkit-linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  color: transparent;
  width: 0%;
  content: "";
  height: 2.7px;
  transition: all 0.5s;
}
.nav-ul .nav-link:hover::after {
  width: 100%;
} */

/* nav abr ends */
/* left side starts */

.firstPageMain-div {
  width: 100%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.firstPageMain-div > p {
  font-weight: 800;
  color: #252525;
  font-size: 3.8rem;
  margin: 0rem 2rem;
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

.gradient {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  /* background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.firstPageMain-div > .tag-line {
  margin: 0.2rem 0 0 2rem;
  font-weight: 800;
  color: #252525;
  font-size: 1rem;
}

.button-join > button {
  background-color: rgb(248,248,255);
  padding: 10px 40px;
  margin: 2rem 2rem;
  font-size: 600;
  letter-spacing: 1px;
  border: 1px solid #000;
  transition: all 1s;
}
.button-join > button:hover {
  cursor: pointer; 
  letter-spacing: 3px;
  color: rgb(248,248,255);
  background-color: #000;
  transform: scale(1.1);
}
/* 1st page ends */
