* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.left {
  height: 100%;
  width: 75%;
  background: url(../images/kike-vega-F2qh3yjz6Jk-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.right {
  height: 100%;
  width: 25%;
}
/* nav abr starts */
.navbar {
  width: 100%;
  height:auto;
  display: flex;
  margin: 0.2rem 0.3rem;
}

.nav-ul {
  display: flex;
  
}
.nav-li {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin: 0.5rem 1.5rem;
  color: #000000;
  padding: 0.5rem 0rem;
}
.first-nav {
  margin: 0.5rem 1.5rem 0.5rem 0.2rem;
}
.nav-ul .nav-link {
  position: relative;
  font-size: 1.1rem;
  
}
.nav-ul .nav-link:hover {
  color: #000000;
}
.nav-ul .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000000;
  color: transparent;
  width: 0%;
  content: '';
  height: 2.7px;
  transition: all 0.5s;
}
.nav-ul .nav-link:hover::after {
  width: 100%;
}

/* nav abr ends */
.firstPageMain-div {
  width: 100%;
  height:auto;
}