@import url(./firstPage.css);

.footer-section {
    height: auto;
    width: 100%;
    background-color: #ffffff; 
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(56, 83, 233), rgb(255, 67, 155));
    border-image-slice: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-main {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-social {
    height: 20%;
    width: 100%;
  }
  .footer-copyright {
    height: 20%;
    width: 100%;
  }
  .footer-left, .footer-right, .footer-center {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  /* todo Footer address section starts */
  .footer-left {
    justify-content: left;
    align-items: center;
  }
  .address {
    font-weight: 500;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
  
  }
  .address-heading {
    font-weight: 700;
    font-size: 1.5rem;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .address > p {
    margin: 0.3rem 0;
  }
  
  /* todo Footer address section ends */
  
  /* todo  Footer social icon section and quick link section starts */
    .footer-center {
      flex-direction: column;
    }
  
    .social-icons {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content:center;
      align-items:center
    }
    .social-icons > button {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      margin: 0.2rem;
      outline: none;
      border: none;
      background: transparent;
      transition: all 0.5s;
    }
    .social-icons > button:hover {
      transform: translateY(-5px);
    }
    .social-icons > button > a > i {
      font-size: 1.6rem;
      color: var(--text-color);
      cursor: pointer;
  
    }
    .fa-linkedin:hover {
      color:#0073B1 !important;
    }
    .fa-facebook:hover {
      color: #355AA3 !important;
    }
    .fa-instagram:hover {
      color: #DC0D4A !important;
    }
    .fa-twitter:hover {
      color: #1C9CEA !important;
    }
    .fa-snapchat:hover {
      color: #F7F400 !important;
    }
    .fa-youtube:hover {
      color: #F70000 !important;
    }
    .fa-github:hover {
      color: #000000 !important;
    }
  /* todo  Footer social icon section ends */
  
  
  /*todo footer copyright and subscribe section starts */
    .footer-right {
      justify-content: right;
      align-items: center;
      flex-direction: column;
    }
    .subscribe-content {
      height: 70%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items:  center;
      flex-direction: column;
      text-align: right;
    }
    .subscribe-inner-content {
      height:auto;
      width: 100%;
    }
    .subscribe-content .subscribe-inner-content input {
      height: auto;
      padding: 0.15rem 0.5rem;
      width: 70%;
      outline: none;
    }
  
    .subscribe-btn{
      background-color: var(--background-color);
      background-image: var(--gradient-color);
      color: var(--light-mode-text-color);
      padding: 10px 30px;
      margin: 0.8rem 0 0.5rem 0.5rem;
      font-weight: 400;
      font-size: 0.9rem;
      border: none;
      display: inline-block;
      text-transform: uppercase;
      outline: none;
      transition: all 0.3s ease;
      cursor: pointer;
      user-select: none;
    }
    
    .subscribe-btn:hover,
    .subscribe-btn:active {
      box-shadow: var(--shadowSupport);
      transform: translateY(-5px);
    }
  
  
  
  
  
    .copyright {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: right;
      flex-direction: column;
      align-items: right;
      text-align: right;
    }
    .copyright > p {
      font-size:1rem;
      background-image: var(--gradient-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
  /*todo footer copyright section ends */
  /*? Footer section ends  */
  
  