.fourth-page {
  height: 100%;
  width: 100%;
}

.heading {
  width: 100%;
  height: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading > span {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 1rem;
  background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s;
}
.heading > span:hover {
  letter-spacing: 7px;
  cursor: pointer;
}
.projects-main-div {
  width: 100%;
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upper-layer,
.lower-layer {
  width: 100%;
  height: 42%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.view-more-div {
  width: 100%;
  height: 16%;
}

.project {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
  width: 30%;
  margin: 0.5rem;
    opacity: 0.7;
  background: url(../images/portfolioWebsite.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  transition: all 1.5s;
}

/* adding an overlay to the image */
.project::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.project:hover {
    cursor: pointer;
    opacity: 1;
    letter-spacing: 4px;
}

.project > span, .project-lower > span {
    font-size:1.5rem;
    font-weight:700;
    background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s;
}

.project > button, .project-lower > button {
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem 2.5rem;
    font-weight: 700;
    transition: all 1s;
    border: none;
    outline: none;
    background-color: rgb(204, 204, 204);
}

.project > button:hover, .project-lower > button:hover {
    transform: scale(1.1);
    letter-spacing: 2px;
}
.project-lower {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
  width: 47%;
  margin: 0.5rem;
  opacity: 0.7;
  background: url(../images/portfolioWebsite.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  transition: all 1.5s;
}
.project-lower:hover {
  cursor: pointer;
  opacity: 1;
  letter-spacing: 4px;
}
.project-lower::before {
    content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}