.fourth-page {
    height: 100%;
    width: 100%;
    border: 2px solid #000;
}

.heading {
    width: 100%;
    height: 5%;
}

.heading > span {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 3px;
    /* text-transform: uppercase; */
    margin: 1rem;
    background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.projects-main-div {
    width: 100%;
    height: 95%;
}