/* !testing */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f0f4fb;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.modal-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

/* The Close Button */
.close {
  padding: 0.6rem 1.5rem;
  margin: 2rem 1rem 1rem 1rem;
  /* opacity: 0; */
  /* background-color: #000000; */
  color: var(--light-mode-text-color);
  border: none;
  outline: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  background-image: var(--gradient-color);
}

.close:hover,
.close:focus {
  box-shadow: var(--shadowSupport);
  transform: translateY(-5px);
}


/* ? FOR RESPONSIVE */
@media only screen and (max-width: 1320px) {
  .modal-content {
    text-align: center
  }
}
@media only screen and (max-width: 695px) {
  .modal-content {
    width: 85%;
  }
}