.project-section-div {
    height: 100%;
    width: 100%;
    background-color: rgb(248, 248, 255);
/* 
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
}
.project-section-heading {
    width: 100%; 
    height: 8%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.project-section-heading span{
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    text-transform: uppercase;
    width:auto;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: block;
    position: relative;
}
.project-section-heading span::after {
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #7760C0;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;

  transform: scale(0);
  transform-origin: center;
}

.project-section-heading span:hover::after,
.project-section-heading span:focus::after {
  opacity: 1;

  transform: scale(1);
}



.project-content {
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-card {
    width: 23rem;
    height:33rem;
    margin: 1rem;
    background-color: rgb(248, 248, 255);
    cursor: pointer;
    border-radius: 18px;
    box-shadow:  7px 7px 25px #a9a9ad,
    -7px -7px 25px #ffffff;
}