@import url(./firstPage.css);
.project-section-div {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  /* padding: var(--main-padding-outline); */
  margin-bottom: 5rem;
}
.project-section-heading {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-section-heading span {
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  text-transform: uppercase;
  width: auto;
  background-color: var(--background-color);
  background-image: var(--gradient-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  position: relative;
}
.project-section-heading span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--background-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;

  transform: scale(0);
  transform-origin: center;
}

.project-section-heading span:hover::after,
.project-section-heading span:focus::after {
  opacity: 1;
  transform: scale(1);
}

.project-content {
  width: 100%;
  height: 92%;
  display: flex;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.project-btns {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-btn {
  margin: 4rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--background-color);
  background-image: var(--gradient-color);
  color: var(--light-mode-text-color);
  padding: 10px 40px;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
}
.project-btn:hover,
.project-btn:active {
  box-shadow: var(--shadowSupport);
  transform: translateY(-5px);
}

.project-img-overlay {
  width: 30%;
  height: auto;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.project-img-overlay:hover {
  transform: translateY(-12px);
}
.project-img-overlay img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.project-img-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 7px;
  height: 100%;
  background: var(--gradient-color);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transform: translateY(100%);
  transition: all 0.3s linear;
}
.project-img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.85;
}
.overlay a {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--light-mode-text-color);
}
