.project-section-div {
    height: 100%;
    width: 100%;
    background-color: #F0F4FB;
/* 
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
}
.project-section-heading {
    width: 100%; 
    height: 8%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.project-section-heading span{
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    text-transform: uppercase;
    width:auto;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: block;
    position: relative;
}
.project-section-heading span::after {
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #7760C0;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;

  transform: scale(0);
  transform-origin: center;
}

.project-section-heading span:hover::after,
.project-section-heading span:focus::after {
  opacity: 1;

  transform: scale(1);
}



.project-content {
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    width: 23rem;
    height:33rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow:  9px 9px 24px #DFE3F3,
                -9px -9px 24px #Eff3FB;
    transition: all 0.5s !important;

}
.project-card:hover {
    transform: scale(1.05) !important;
 
}

.porject-content {
    width: 100%;
    height: 100%;
}
.project-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:goldenrod;

    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);


}
.project-text span{
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem;
    letter-spacing: 2px;
}

.view-details-button button {
    padding: 0.6rem 1rem;
    margin: 1rem;
    opacity: 0;
    /* background-color: #000000; */
    color: #000000;
    border: none;
    outline: none;
    letter-spacing: 1.5px;
    transition: all 2s;
    cursor: pointer;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

}
.view-details-button button:hover {
    transform: translateY(-8px);
    background-color: #F0F4FB;
    background-image: linear-gradient(315deg, #F0F4FB 0%, #F0F4FB 74%);
    color: #000000;
    border: 1px solid #000000;
}
