.nav-bar-smallScreen {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; /* By this the menu will appear from the right */
  background-color: #f0f4fb;
  overflow-x: hidden;
  transition: 0.5s;
}
.menu-content-smallScreen {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu-content-smallScreen ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu-content-smallScreen li {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all 0.5s;
}
.menu-content-smallScreen li:hover {
  transform: translateX(5px);
}
.menu-content-smallScreen li a {
  outline: none;
  margin: 0;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  color:var(--text-color);
  display: block; /* Display block instead of inline */
  transition: 0.3s;
}
.menu-content-smallScreen li i {
  color: var(--text-color);
  margin: 0 0.3rem 0 0;
}

.close-btn-smallScreen {
  color: var(--text-color);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  border: none;
  outline: none;
  background: transparent;
}

.small-screen-darkMode {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-screen-darkMode > span {
  color: var(--text-color);
  margin: 0 0.3rem;
}
/* dark mode btn starts */
#modeCheckbox {
  margin: 0 0.3rem;
  width: 42px;
  height: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  background-color: var(--text-color);
  background: transparent;
  border-radius: 24px;
  border: solid 1px rgb(41, 41, 41);
  transition: border-color 200ms, background-color 200ms;
  cursor: pointer;
  margin-right: 0.5rem;
}
#modeCheckbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  background-color: var(--text-color);
  transition: width 200ms, height 200ms, transform 200ms, background-color 200ms;
}


#modeCheckbox.on {
  border-color: #ffffff;
  background-color: var(--fore-ground-background);
}
#modeCheckbox.on::before {
  background-color: #8490ff;
  width: 16px;
  height: 16px;
  transform: translateX(18px);
}
/* dark mode btn ends */
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .menu-content-smallScreen a {
    font-size: 1rem;
  }
  .nav-bar-smallScreen .close-btn-smallScreen {
    font-size: 40px;
  }
}

/* dark mode starts */
.foreground-darkMode-navBarSmall {
  background-color: #1D1D1D;
}

/* dark mode ends */