.second-page {
  height: 100%;
  width: 100%;
  background-color: rgb(248, 248, 255);
}

.heading {
  width: 100%;
  height: 5%;
  text-align: center;
}
.heading span {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
}

.education-content {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  background: url(../images/clg-image.jpg);
  background-size: cover;
  
}
.first-content {
  width: 30%;
  height: 80%;
  margin: 1rem;
  padding: 1rem;

  box-shadow: 21px 21px 51px #bababf, -21px -21px 51px #ffffff;

  transition: 0.5s;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;


}
.first-content:hover {
  cursor: pointer;
  /* transform: translateY(-8px); */
  transform: scale(1.03) !important;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.4);
}

.card-content {
  height: 55%;
  margin-top:auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.card-text {
    margin-top: auto;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
}
/* .card-text:hover {
    opacity: 1;
} */
.card-content h3 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
.card-content span {
    font-size: 1.5rem;
    font-weight: 700;
    background: -webkit-linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.card-content p {
    color: #fff;
}
/* education card end */
/* education carousel starts */
