.second-page {
  height: 100%;
  width: 100%;
  background-color: #F0F4FB;;

}

.heading {
  width: 100%;
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading span {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: block;
  position: relative;
}

.heading span::after {
  content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 0.1em;
background-color: #7760C0;
opacity: 0;
transition: opacity 300ms, transform 300ms;

transform: scale(0);
transform-origin: center;
}

.heading span:hover::after,
.heading span:focus::after {
opacity: 1;

transform: scale(1);
}



.education-content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-content {
  background: url(../images/clg-image.jpg);
  background-size: cover;
  border-radius: 25px;

}
.third-content {
  background: url(../images/school-image2.jpg);
  background-size: cover;
}
.second-content {
  background: url(../images/college12th-image.jpg);
  background-size: cover;
}
.first-content {
  width: 30%;
  height: 80%;
  margin: 1rem;
  padding: 1rem;

  box-shadow: 21px 21px 51px #bababf, -21px -21px 51px #ffffff;


  transition: 0.5s;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;

}
.first-content:hover {
  cursor: pointer;
  /* transform: translateY(-8px); */
  transform: scale(1.03) !important;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.8);
}

.card-content {
  height: 55%;
  margin-top:auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}
.card-text {
    margin-top: auto;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
}
/* .card-text:hover {
    opacity: 1;
} */
.card-content h3 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  user-select: none;  
}
.card-content span {
    font-size: 1.5rem;
    font-weight: 700;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
/* for adding animation in card text */
.text-animation {
  transform: translateY(-18px);
}

.card-content p {
    color: #fff;
}
/* education card end */
/* skills content starts */
.skills-div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F4FB;
}

.inner-skills-div {
  width: 94%;
  height: 90%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  border-radius: 33px;

  box-shadow:  9px 9px 24px #DFE3F3,
             -9px -9px 24px #Eff3FB;



}
.skills-heading {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills-heading span {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  display: block;
  position: relative;
}

.skills-heading span::after {
  content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 0.1em;
background-color: #7760C0;
opacity: 0;
transition: opacity 300ms, transform 300ms;

transform: scale(0);
transform-origin: center;
}

.skills-heading span:hover::after,
.skills-heading span:focus::after {
opacity: 1;

transform: scale(1);
}



.skills-content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills-content button{
  height: 20%;
  width: 15%;
  margin: 1rem;
  background: none;
  outline: none;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills-content button span{
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:0.9rem !important;
  font-weight: 600;
  opacity: 0;
}

.skills-content button span{
 font-size: 1.2rem;
 transition: all 0.5s;
}
.skills-content button img {
  height: 55px;
  width: 55px;
  transition: all 0.5s !important;
}
.skills-content button img:hover {
  transform: translateY(-15px) !important;
}



/* skills content ends */


