.second-page {
  height: 100%;
  width: 100%;
  background-color: rgb(248, 248, 255);
}

.heading {
  width: 100%;
  height: 5%;
  text-align: center;
}
.heading span {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.education-content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-image {
  background: url(../images/clg-image.jpg);
  background-size: cover;
  
}
.first-content {
  width: 30%;
  height: 80%;
  margin: 1rem;
  padding: 1rem;

  box-shadow: 21px 21px 51px #bababf, -21px -21px 51px #ffffff;

  transition: 0.5s;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;

}
.first-content:hover {
  cursor: pointer;
  /* transform: translateY(-8px); */
  transform: scale(1.03) !important;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.4);
}

.card-content {
  height: 55%;
  margin-top:auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}
.card-text {
    margin-top: auto;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
}
/* .card-text:hover {
    opacity: 1;
} */
.card-content h3 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
.card-content span {
    font-size: 1.5rem;
    font-weight: 700;
    background: -webkit-linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.card-content p {
    color: #fff;
}
/* education card end */
/* skills content starts */
.skills-div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 248, 255);
}

.inner-skills-div {
  width: 94%;
  height: 90%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* border-radius: 20px; */

  box-shadow:  5px 5px 31px #707073,
  -5px -5px 31px #ffffff;
}
.skills-heading {
  width: 100%;
  height: 5%;
  text-align: center;
}
.skills-heading span {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  text-transform: uppercase;

}

.skills-content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills-content button{
  height: 20%;
  width: 15%;
  margin: 1rem;
  background: none;
  outline: none;
  border: none;
}
.skills-content button span{
 font-size: 1.2rem;
 cursor: pointer;
 transition: all 0.5s;
}
.skills-content button i {
  cursor: pointer;
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  transition: all 0.5s;
}
.skills-content button i:hover {
  transform: translateY(-15px);
}

.fa-java {
  color: rgb(116, 172, 255) !important;
}
.c,.cPlusPlus span{
  font-weight: 700;
  color: rgb(63, 63, 156) !important;
}
.fa-html5 {
  color: rgb(255, 102, 0) !important;
}
.fa-css3 {
  color: rgb(0, 119, 255) !important;
}
.fa-js {
  color: rgb(255, 238, 0) !important;
}
.fa-react {
  color: rgb(0, 217, 255) !important;
}
.fa-node {
  color: rgb(120, 202, 88) !important;
}
.fa-git {
  color: rgb(255, 60, 0) !important;
}
.fa-python {
  color: rgb(3, 85, 161) !important;
}
/* skills content ends */