.second-page{
    height: 100%;
    width: 100%;
}
.about-section {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.about-section > span {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing:3px;
    text-transform: uppercase;
}
.about-section > hr {
    border: 2px solid #000;
    background-color: #000;
    width: 5rem;
}

.about-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items:center
}
.profile-image, .profile-description {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center
}
.profile-pic {
    height: 600px;
    width: 500px;
    margin: 2rem;
}
.text > span { 
    font-size: 2rem;
    font-weight: 700;
    letter-spacing:3px;
}