@import url(./firstPage.css);
.second-page {
  height: 100%;
  width: 100%;
  background-color: #fff;

}
.second-page-content {
  width: 100%;
  height: 100%;
 
}
.heading {
  width: 100%;
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-content {
  padding: var(--main-padding);
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-content {
  background: url(../images/clg-image.webp);
  background-size: cover;
}
.third-content {
  background: url(../images/school-image.webp);
  background-size: cover;
}
.second-content {
  background: url(../images/college12th-image.webp);
  background-size: cover;
}
.first-content {
  width: 33.3%;
  height: 85%;
  transition: 0.5s;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.first-content:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.85);
}

.card-content {
  height: 55%;
  margin-top: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.card-text {
  margin-top: auto;
  opacity: 0;
  transition: 0.5s;
  width: 100%;
}
/* .card-text:hover {
    opacity: 1;
} */
.card-content h3 {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  user-select: none;
}
.card-content span {
  font-size: 1.2rem;
  font-weight: 700;

  margin: 0;

  background-color: var(--background-color);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* for adding animation in card text */
.text-animation {
  transform: translateY(-18px);
}

.card-content p {
  font-size: 0.85rem;
  color: #fff;
  margin: 0;
}
/*! education card end */


/* ! Download resume section starts */
.download-resume-section {
  width: 100%;
  height: 40%;
  padding: var(--main-padding);
}
.resume-download {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: linear-gradient(to right, #dadeff 0%, #d0ebfe 100%); */
}
.resume-download h4 {
  font-size: 2rem;
  font-weight:200;
  letter-spacing: 2px;
}
.resume-download button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #ADECA8;
  cursor: pointer;
  margin: 1rem;
  border: none;
  outline: none;
}
.resume-download button i {
  color: #7CC576;
  font-size: 1.5rem;
}

/* ! Download resume section ends */

/*! skills content starts */
.skills-div {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: var(--main-padding);
}

.inner-skills-div {
  width: 100%;
  height: 100%;
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* border-radius: 33px; */
  box-shadow: 9px 9px 24px #dfe3f3, -9px -9px 24px #eff3fb;
  /* background-image: linear-gradient(to right, #dadeff 0%, #d0ebfe 100%); */
}
.skills-heading {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading-text {
  font-size: 2.2rem;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  /* text-transform: uppercase; */
  font-weight: 400;
  background-color: var(--background-color);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  position: relative;
}


.skills-content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills-content button {
  height: 20%;
  width: 15%;
  margin: 1rem;
  background: none;
  outline: none;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills-content button span {
  background-color:var(--background-color);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9rem !important;
  font-weight: 600;
  opacity: 0;
}

.skills-content button span {
  font-size: 1.2rem;
  transition: all 0.5s;
}
.skills-content button img {
  height: 52px;
  width: 52px;
  transition: all 0.5s !important;
}
.skills-content button img:hover {
  transform: translateY(-12px) !important;
}

/*! skills content ends */


