.second-page{
    height: 100%;
    width: 100%;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}
.about-section {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.about-section > span {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing:3px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all 1s;
}
.about-section > span:hover {
    cursor: pointer;
    letter-spacing: 8px;
}
.about-section > hr {
    border: 2px solid #000;
    background-color: #000;
    width: 5rem;
}

.about-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items:center
}
.profile-image, .profile-description {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center
}
.profile-pic {
    height: 600px;
    width: 500px;
    margin: 2rem;
}
.text {
    margin: 1rem;
}
.heading {
    margin: 0 0 1rem 0;
}
.heading > span { 
    font-size: 2rem;
    font-weight: 700;
    letter-spacing:3px;
    background: -webkit-linear-gradient(315deg, rgb(4, 0, 214), rgb(0, 7, 31));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}